<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">
		<link rel="stylesheet" href="lib/css/styles.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-background-image="lib/img/vue-logo.png" data-background-opacity="0.5" data-background-size="20%">
					<h2>VueJS</h2>
				</section>
				<section>
						<section>
								<h2>Single File Components</h2>
								<pre>
									<code data-trim>
										<template>

										</template>

										<script>

										</script>

										<style>

										</style>
									</code>
								</pre>
							</section>
							<section>
								<pre>
									<code data-trim>
										<template>
											<div class="weather-widget">
												<h2>Today's weather</h2>
												<p>It's totally raining. 🌧</p>
											</div>
										</template>

										<script>
											export default {
												name: 'Weather Widget',
											}
										</script>

										<style>
											h2 {
												color: #4db2e0;
											}
										</style>
									</code>
								</pre>
							</section>
							<section>
								<h2>Data & template</h2>
								<pre>
									<code data-trim data-line-numbers="4,11-15">
										<template>
											<div class="weather-widget">
												<h2>Today's weather</h2>
												<p>{{weatherReport}}</p>
											</div>
										</template>

										<script>
											export default {
												name: 'Weather Widget',
												data: function() {
													return {
														weatherReport: "It's totally raining. 🌧"
													}
												}
											}
										</script>

										<style>
											h2 {
												color: #4db2e0;
											}
										</style>
									</code>
								</pre>
							</section>
							<section>
								<h2>Scoped styles & css pre-processors</h2>
								<pre>
									<code data-trim data-line-numbers="19-25">
										<template>
											<div class="weather-widget">
												<h2>Today's weather</h2>
												<p>{{weatherReport}}</p>
											</div>
										</template>

										<script>
											export default {
												name: 'Weather Widget',
												data: function() {
													return {
														weatherReport: "It's totally raining. 🌧"
													}
												}
											}
										</script>

										<style scoped lang="less">
											@prettyBlue = #4db2e0;
											h2 {
												color: @prettyBlue;
											}
										</style>
									</code>
								</pre>
							</section>
							<section>
								<h2>Pretty For Loops</h2>
								<pre>
									<code data-trim data-line-numbers="4-7,16-29">
										<template>
											<div class="weather-widget">
												<h2>This week's weather</h2>
												<div v-for="day in week">
													<h3>{{day.name}}</h3>
													<p>{{day.weather}}</p>
												</div>
											</div>
										</template>

										<script>
											export default {
												name: 'WeatherWidget',
												data: function() {
													return {
														week: [
															{
																name: "Monday",
																weather: "Raining"
															},
															{
																name: "Tuesday",
																weather: "Raining"
															},
															{
																name: "Wednesday",
																weather: "Yeah still raining..."
															}
														],
													}
												}
											}
										</script>
									</code>
								</pre>
							</section>
							<section>
								<h2>Easy ifs</h2>
								<pre>
									<code data-trim data-line-numbers="3-11">
										<template>
											<div class="weather-widget">
												<div v-if="loading">Loading...</div>
												<div v-else-if="error">Error...</div>
												<div v-else>
													<h2>This week's weather</h2>
													<div v-for="day in week">
														<h3>{{day.name}}</h3>
														<p>{{day.weather}}</p>
													</div>
												</div>
											</div>
										</template>
									</code>
								</pre>
							</section>
							<section>
								<h2>Methods, Lifecycle Hooks and Setting values</h2>
								<pre>
									<code data-trim data-line-numbers="13,16-23">
										<template>
											<div class="weather-widget">
												<h2>Today's weather</h2>
												<p>{{weatherReport}}</p>
											</div>
										</template>

										<script>
											export default {
												name: 'Weather Widget',
												data: function() {
													return {
														weatherReport: ""
													}
												},
												mounted() {
													this.getWeather();
												},
												methods: {
													getWeather() {
														this.weatherReport = "It's totally raining. 🌧";
													}
												}
											}
										</script>

										<style scoped lang="less">
											@prettyBlue = cornflowerblue;
											h2 {
												color: @prettyBlue;
											}
										</style>
									</code>
								</pre>
							</section>
							<section>
								<h2 class="demo">Computed properties</h2>
								<pre>
									<code data-trim data-line-numbers="4-5,13-19,22-34">
										<template>
											<div class="weather-widget">
												<h2>Today's weather</h2>
												<p>{{weatherReport}}</p>
												<button @click="getRandomWeatherIcon">Reroll</button>
											</div>
										</template>

										<script>
											export default {
												name: 'WeatherWidget',
												data: function() {
													return {
														weatherTypes: ["🌧", "🌞", "🌪"],
														weatherDetails: {
															"🌧": "It's totally raining.",
															"🌞": "Sun's out, guns out. 💪💪",
															"🌪": "Buckle up it's windy! 🐄"
														},
														currentWeatherIcon: "🌧",
													}
												},
												mounted() {
													this.getRandomWeatherIcon();
												},
												computed: {
													weatherReport() {
														return this.weatherDetails[this.currentWeatherIcon] + this.currentWeatherIcon
													}
												},
												methods: {
													getRandomWeatherIcon() {
														this.currentWeatherIcon = this.weatherTypes[Math.floor(Math.random() * this.weatherTypes.length)];
													}
												}
											}
										</script>
									</code>
								</pre>
							</section>
							<section>
								<h2 class="demo">Model binding</h2>
								<pre>
									<code data-trim data-line-numbers="6,10,13,22-23">
										<template>
												<div class="form">
													<form action="">
														<label for="firstName">
															First Name:
															<input v-model="firstName" type="text" name="firstName">
														</label>
														<label for="lastName">
															Last Name:
															<input v-model="lastName" type="text" name="lastName">
														</label>
													</form>
													<h1>Hello, {{firstName}} {{lastName}}</h1>
												</div>
											</template>

											<script>
												export default {
													name: 'Form',
													data: function() {
														return {
															firstName: "",
															lastName: ""
														}
													}
												}
											</script>
									</code>
								</pre>
							</section>
							<section>
								<h2 class="demo">Computed Property for Validation</h2>
								<pre>
									<code data-trim data-line-numbers="14,27-31">
										<template>
												<div class="form">
													<form action="">
														<label for="firstName">
															First Name:
															<input v-model="firstName" type="text" name="firstName">
														</label>
														<label for="lastName">
															Last Name:
															<input v-model="lastName" type="text" name="lastName">
														</label>
													</form>
													<h1>Hello, {{firstName}} {{lastName}}</h1>
													<h2>isValid: {{isValid}}</h2>
												</div>
											</template>

											<script>
												export default {
													name: 'Form',
													data: function() {
														return {
															firstName: "",
															lastName: ""
														}
													},
													computed: {
														isValid() {
															return Boolean(this.firstName && this.lastName);
														}
													}
												}
											</script>
									</code>
								</pre>
							</section>
							<section>
								<h2 class="demo">Other Bindings</h2>
								<pre>
									<code data-trim data-line-numbers="14,34-40">
										<template>
												<div class="form">
													<form action="">
														<label for="firstName">
															First Name:
															<input v-model="firstName" type="text" name="firstName">
														</label>
														<label for="lastName">
															Last Name:
															<input v-model="lastName" type="text" name="lastName">
														</label>
													</form>
													<h1>Hello, {{firstName}} {{lastName}}</h1>
													<h2 :class="isValid ? 'valid' : 'invalid'">isValid: {{isValid}}</h2>
												</div>
											</template>
											<script>
												export default {
													name: 'Form',
													data: function() {
														return {
															firstName: "",
															lastName: ""
														}
													},
													computed: {
														isValid() {
															return Boolean(this.firstName && this.lastName);
														}
													}
												}
											</script>
											<style lang="less" scoped>
													.valid {
														color: cornflowerblue;
													}
													.invalid {
														color: deeppink;
													}
											</style>
									</code>
								</pre>
							</section>
							<section>
								<h2 class="demo">Custom Directives</h2>
								<pre>
									<code data-trim data-line-numbers="4-15">
										import Vue from 'vue'
										import App from './App.vue'

										Vue.directive("shorten", {
											inserted: (el, {value = 30}) => {
												let text = el.textContent || el.innerText
												text = text.trim()
												if (text.length >= value) {
													let attribute = document.createAttribute("title")
													attribute.value = text
													el.setAttributeNode(attribute)
													el.textContent = text.substring(0, value) + "..."
												}
											}
										})

										new Vue({
											render: h => h(App),
										}).$mount('#app')
									</code>
								</pre>
							</section>
							<section>
								<h2>Showdown</h2>
								<img src="lib/img/vue-vs-react.png" alt="">
							</section>
							<section>
								<h2>Github Stars</h2>
								<img src="lib/img/github-repos-by-stars.png" alt="" class="fragment">
								<h3 class="fragment fade-in-then-out">Result: Vue is literally 2 x better</h3>
							</section>
							<section>
								<h2>Package Size</h2>
								<img src="lib/img/vue-vs-react-bundle-size.png" alt="" style="max-width: 70%" class="fragment">
								<h3 class="fragment">Result: React is almost 10 x smaller</h3>
							</section>
							<section>
								<h2>BUT...</h2>
							</section>
							<section>
								<h2>You'll also need ReactDOM</h2>
								<img src="lib/img/vue-vs-react-bundle-size-2.png" alt="" style="max-width: 70%">
								<h3>Result: React is <span class="strikethrough">almost</span> <span class="strikethrough">10</span> <span class="red">1.6</span> x <span class="strikethrough">smaller</span> <span class="red">larger</span></h3>
							</section>
							<section>
								<h2>Okay, but show me the code</h2>
							</section>
							<section>
								<pre>
									<code data-trim>
										// REACT
										const eventCards = events.map((event, index) => {
											return (
												<a href={event.event_page_url} className="cross-sell__card" key={event.id}>
													<img className="cross-sell__image" src={event.large_image_url} alt={`${event.event_name} cover art`}/>
													<div className="cross-sell__caption">
														<div className="cross-sell__event-name">{event.event_name}</div>
														{event.min_combined_price && <div className="cross-sell__event-from-price">From: {event.min_combined_price}</div>}
													</div>
												</a>
											);
										});

										return (
											<div className="cross-sell">
												<h2>You may also be interested in</h2>
												{
													isLoading ? <Loader></Loader> : (
														<Carousel perPage={carouselPerPageConfig}>{eventCards}</Carousel>
													)
												}
											</div>
										);
									</code>
								</pre>
								<pre>
									<code data-trim class="fragment fade-up ">
										<!-- VUE -->
										<template>
												<div class="cross-sell">
													<h2>You may also be interested in</h2>
														<Loader v-if="isLoading"></Loader>
														<Carousel v-else :perPage=carouselPerPageConfig>
															<a
																v-for="event in events"
																:key="event.id"
																:href=event.event_page_url
																class="cross-sell__card"
															>
																<img class="cross-sell__image" :src="event.large_image_url" :alt="`${event.event_name} cover art`"/>
																<div class="cross-sell__caption">
																	<div class="cross-sell__event-name">{{event.event_name}}</div>
																	<div v-if="event.min_combined_price" class="cross-sell__event-from-price">
																		From: {{event.min_combined_price}}
																	</div>
																</div>
															</a>
														</Carousel>
													</div>
											</template>
									</code>
								</pre>
							</section>
							<section>
								<div class="split-screen">
									<pre>
										<code data-trim>
											// REACT
											import React, { useEffect, useState } from "react";
											import Carousel from "basket/Carousel";
											import Loader from "../shared_components/Loader/Loader.jsx";
											import { useStateValue } from "utils/custom-hooks/global-state";

											export default function CrossSell() {
												const [{ app }] = useStateValue();
												const [events, setEvents] = useState([]);
												const [isLoading, setIsLoading] = useState(false);
												const carouselPerPageConfig = {
													0: 1.5,
													800: 5,
													1700: 9
												};

												async function getEvents() {
													return await app.webWorker.getEvents({
															event_ids: app.components.website.cross_sell_event_ids
														});
													}).then(data => Promise.resolve(data.events));
												}

												useEffect(() => {
													let isSubscribed = true;
													const fetchEvents = async () => {
														setIsLoading(true);
														const events = await getEvents();
														if (isSubscribed) {
															setEvents(events);
															setIsLoading(false);
														}
													};
													fetchEvents();
													return function cleanup() {
														isSubscribed = false;
													};
												}, []);
										</code>
									</pre>
									<pre>
										<code data-trim class="fragment">
											<!-- VUE -->
											<script>
											import Carousel from "basket/Carousel";
											import Loader from "../shared_components/Loader/Loader.jsx";
											import { mapGetters } from "vuex"
											export default {
												name: 'Form',
												components: {
													Carousel,
													Loader
												},
												data: function() {
													return {
														events: [],
														isLoading: false,
														carouselPerPageConfig: {
															0: 1.5,
															800: 5,
															1700: 9
														}
													}
												},
												mounted() {
													this.getEvents();
												},
												computed: {
													...mapGetters(["app", "cross_sell_event_ids"]),
												},
												methods: {
													async getEvents() {
														this.isLoading = true;
														return await this.app.webWorker.getEvents({
															event_ids: this.cross_sell_event_ids
														}).then(data => {
															Promise.resolve(data.events);
															this.isLoading = false;
														});
													}
												}
											}
											</script>
										</code>
									</pre>
								</div>
							</section>
							<section>
								<h2 class="demo">Vue Dev Tools</h2>
								<h5>- Performance Debugger</h5>
								<h5>- Dark Theme!</h5>
								<h5>- Bind to console</h5>
							</section>
							<section>
								<h2 class="demo">Vue UI</h2>
							</section>
				</section>
				<section data-markdown>
						<textarea data-template>
							## Resources
							#### Learning Vue
							- [VueJS Docs](https://vuejs.org/v2/guide/)
							- [VueJS Examples](https://vuejs.org/v2/examples/index.html)
							- [Vueschool - VueJS fundamentals](https://vueschool.io/courses/vuejs-fundamentals)
							- [Vueschool - VueJS Components fundamentals](https://vueschool.io/courses/vuejs-components-fundamentals)
							- [Vue Mastery - Intro to Vue](https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance/)

							#### Case Studies
							- [The State of Vue - Case studies and survey for developers and CTOs](https://cdn2.hubspot.net/hubfs/1667658/State_of_vue/State%20of%20Vue.js%202019.pdf)
						</textarea>
						<img src="lib/img/vue-logo.png" alt="">
				</section>
			</div>
		</div>

		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
