.reveal section img {
  background: none;
  border: none;
}

.reveal pre {
  margin-top: 0;
  margin-bottom: 0;
}

.reveal pre code {
  tab-size: 2;
  font-size: 50%;
  line-height: 1.2em;
  max-height: 600px;
}

.demo::after {
  content: "*";
  font-size: 50%;
  vertical-align: super;
}

.split-screen {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.split-screen pre:first-child {
  margin-right: 15px;
}

.split-screen pre {
  width: 50%;
}

.strikethrough {
  text-decoration: line-through;
}

.red {
  color: crimson;
}

.reveal ul {
  list-style-type: none;
  font-size: 80%;
  margin-bottom: 60px;
}